<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Comparativo Mensal</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<h1>Comparativo Mensal</h1>

<a href="/">Voltar</a>

<br><br>

<canvas id="grafico"></canvas>

<script>

const meses = {{ meses|tojson }};
const receitas = {{ receitas|tojson }};
const despesas = {{ despesas|tojson }};

new Chart(document.getElementById("grafico"), {

    type: "bar",

    data: {
        labels: meses,

        datasets: [
            {
                label: "Receitas",
                data: receitas
            },
            {
                label: "Despesas",
                data: despesas
            }
        ]
    }

});

</script>

</body>

</html>